/*
    Document   : header
    Created on : Jul 17, 2012, 5:00:11 PM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#header-wrapper {
    
}

#header {
    clear: both;
    width: 100%;
    margin: 0px 0px;
    background: rgb(53,147,158); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(53,147,158,1) 4%, rgba(39,97,114,1) 48%, rgba(104,150,155,1) 100%, rgba(53,106,160,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,rgba(53,147,158,1)), color-stop(48%,rgba(39,97,114,1)), color-stop(100%,rgba(104,150,155,1)), color-stop(100%,rgba(53,106,160,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(53,147,158,1) 4%,rgba(39,97,114,1) 48%,rgba(104,150,155,1) 100%,rgba(53,106,160,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(53,147,158,1) 4%,rgba(39,97,114,1) 48%,rgba(104,150,155,1) 100%,rgba(53,106,160,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(53,147,158,1) 4%,rgba(39,97,114,1) 48%,rgba(104,150,155,1) 100%,rgba(53,106,160,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(53,147,158,1) 4%,rgba(39,97,114,1) 48%,rgba(104,150,155,1) 100%,rgba(53,106,160,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35939e', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */
background-repeat: repeat-x;
padding: 0px;

}

#logo {
    width: 100%;
    height: 35px;
    margin: 0px;
    padding: 0px 0px;
    color: white;
}

#logo h1, #logo p {
    margin: 0;
    padding: 0;
}

#logo h1 {
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
    font-size: 2.0em;
    color: white;
}

/*#logo h1 span {
    color: #0285CE;
}

#logo p {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    color: #3B3B3B;
    font-size: 10px;
}*/

#logo p a {
    color: #3B3B3B;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: white;
   }




