/*
    Document   : menu
    Created on : Oct 20, 2012, 5:25:14 PM
    Author     : Neha
    Description:
        Purpose of the stylesheet follows.



   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/


#menu, #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu {
    width: 100%;
        margin: 60px auto;
        border: 1px solid #222;
    background-color: #1a70c4;
    background: rgb(44,83,158);  Old browsers 
    background: -moz-linear-gradient(top,  rgba(44,83,158,1) 0%, rgba(42,126,168,1) 47%, rgba(44,83,158,1) 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,83,158,1)), color-stop(47%,rgba(42,126,168,1)), color-stop(100%,rgba(44,83,158,1)));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(42,126,168,1) 47%,rgba(44,83,158,1) 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(42,126,168,1) 47%,rgba(44,83,158,1) 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(42,126,168,1) 47%,rgba(44,83,158,1) 100%);  IE10+ 
    background: linear-gradient(to bottom,  rgba(44,83,158,1) 0%,rgba(42,126,168,1) 47%,rgba(44,83,158,1) 100%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 );  IE6-9 

    border-radius: 6px;
    box-shadow: 0 1px 1px #777;
    height: 25px;

}
#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
        width: 160px;
    position: relative;

}

#menu li {
    float: left;
    border-right: 1px solid #2179d5;
    box-shadow: 1px 0 0 #444;

           width: 160px; 

    height: 23px;
}

#menu li a {
    float: left;
    padding: 6px 12px 6px 12px;
    color: #bbd4fd;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 0px 0 #000;
    word-wrap:break-word ;
    text-align: left;

}

#menu li:hover > a {
    color: #fafafa;

    background-color: #bbd4fd;
    background: #338cdf;
    background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 55%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(15%,rgba(30,87,153,0.8)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(55%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(85%,rgba(30,87,153,0.8)), color-stop(100%,rgba(30,87,153,0)));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);  IE10+ 
    background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 );  IE6-9 


}

*html #menu li a:hover {
     IE6 only
                         color: #fafafa;
}
#menu ul {
    margin: 20px 0 0 0;
    _margin: 0;  IE6 only 
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 110px;
    left: auto;
    z-index: 1;
    background-color: #1a70c4;
    background: rgb(44,83,158);  Old browsers 
    background: -moz-linear-gradient(top,  rgba(44,83,158,1) 0%, rgba(42,126,168,1) 47%, rgba(44,83,158,1) 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,83,158,1)), color-stop(47%,rgba(42,126,168,1)), color-stop(100%,rgba(44,83,158,1)));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(42,126,168,1) 47%,rgba(44,83,158,1) 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(42,126,168,1) 47%,rgba(44,83,158,1) 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(42,126,168,1) 47%,rgba(44,83,158,1) 100%);  IE10+ 
    background: linear-gradient(to bottom,  rgba(44,83,158,1) 0%,rgba(42,126,168,1) 47%,rgba(44,83,158,1) 100%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 );  IE6-9 

    box-shadow: 0 -1px 0 rgba(255,255,255,.3);
    border-radius: 3px;
    transition: all .2s ease-in-out;
    border: 1px solid;
}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu ul ul {
    top: -30px;
    left: 150px;
    position: relative;
    margin: 0 0 0 0px;
    _margin: 0;  IE6 only 
    box-shadow: -1px 0 0 rgba(255,255,255,.3);
    width: 170px
}

#menu ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0;  IE6 only 
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    height: 30px;
}

#menu ul li:last-child {
    box-shadow: none;
}

#menu ul a {
    padding: 10px;
    width: 150px;
    _height: 10px;  IE6 only 
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: capitalize;
}

#menu ul a:hover {
    background-color: #bbd4fd;
    background-color: #bbd4fd;
    background: #338cdf;
    background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 55%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(15%,rgba(30,87,153,0.8)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(55%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(85%,rgba(30,87,153,0.8)), color-stop(100%,rgba(30,87,153,0)));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);  IE10+ 
    background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 );  IE6-9 

    height: 10px;
}
#menu ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}
#menu ul ul li:first-child a:after {
    left: -6px;
    top: 5%;
    margin-top: -1px;
    border-left: 0;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;

}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec;
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #0299d3;
    border-bottom-color: transparent;
}

#menu ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}
*/

/*body
            {
                width: 960px;
                margin: 40px auto;
            }*/

/* Main menu */

#menu
{
    width: 100%;
    margin: 0px auto;
    padding: 0px 0 0 0;
    list-style: none;
    background-color: #1a70c4;
    background: rgb(44,83,158);  /*Old browsers*/
    background: -moz-linear-gradient(top,  rgba(44,83,158,1) 0%, rgba(42,126,168,1) 47%, rgba(44,83,158,1) 100%);  /*FF3.6+*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,83,158,1)), color-stop(47%,rgba(42,126,168,1)), color-stop(100%,rgba(44,83,158,1))); /* Chrome,Safari4+*/
    background: -webkit-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(42,126,168,1) 47%,rgba(44,83,158,1) 100%);  /*Chrome10+,Safari5.1+*/
    background: -o-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(42,126,168,1) 47%,rgba(44,83,158,1) 100%);  /*Opera 11.10+*/
    background: -ms-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(42,126,168,1) 47%,rgba(44,83,158,1) 100%); /* IE10+*/
    background: linear-gradient(to bottom,  rgba(44,83,158,1) 0%,rgba(42,126,168,1) 47%,rgba(44,83,158,1) 100%);  /*W3C*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 );  /*IE6-9 */
    -moz-border-radius: 50px;
    border-radius: 50px;
    -moz-box-shadow: 0 2px 1px #9c9c9c;
    -webkit-box-shadow: 0 2px 1px #9c9c9c;
    box-shadow: 0 2px 1px #9c9c9c;
}

#menu li
{
    float: left;
    padding: 0 0 0px 0;
    position: relative;
    line-height: 0;  border-right: 1px solid #2179d5;
}

#menu a
{
    float: left;
    height: 20px;
    padding: 2px 12px 4px 12px;
    color: #bbd4fd;
    text-transform: uppercase;
    font: bold 11px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu li:hover > a
{
    color: #fafafa;
    background-color: #bbd4fd;
    background: #338cdf;
    background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 55%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(15%,rgba(30,87,153,0.8)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(55%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(85%,rgba(30,87,153,0.8)), color-stop(100%,rgba(30,87,153,0)));  /* Chrome,Safari4+*/
    background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);  /* Chrome10+,Safari5.1+*/
    background: -o-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);   /*Opera 11.10+*/
    background: -ms-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);  /* IE10+*/
    background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);  /* W3C*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 );  /* IE6-9 */


}

html #menu li a:hover /* IE6 */
{
    color: #fafafa;
}

#menu li:hover > ul
{
    display: block;
}

/* Sub-menu */

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 26px;
    left: 0;
    z-index: 99999;
    background-color: #1a70c4;
    background: rgb(44,83,158);  /*Old browsers*/
    background: -moz-linear-gradient(top,  rgba(44,83,158,1) 0%, rgba(42,126,168,1) 47%, rgba(44,83,158,1) 100%);  /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,83,158,1)), color-stop(47%,rgba(42,126,168,1)), color-stop(100%,rgba(44,83,158,1)));   /*Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(42,126,168,1) 47%,rgba(44,83,158,1) 100%);  /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(42,126,168,1) 47%,rgba(44,83,158,1) 100%);   /*Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(42,126,168,1) 47%,rgba(44,83,158,1) 100%);   /*IE10+ */
    background: linear-gradient(to bottom,  rgba(44,83,158,1) 0%,rgba(42,126,168,1) 47%,rgba(44,83,158,1) 100%);  /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 );  /* IE6-9 */

    -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul ul
{
    top: 0;
    left: 150px;
}

#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a
{
    padding: 9px;
    height: 10px;
    width: 130px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

html #menu ul a /* IE6 */
{
    height: 10px;
}

*:first-child+html #menu ul a /* IE7 */
{
    height: 10px;
}

#menu ul a:hover
{
    background-color: #bbd4fd;
    background-color: #bbd4fd;
    background: #338cdf;
    background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 55%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(15%,rgba(30,87,153,0.8)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(55%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(85%,rgba(30,87,153,0.8)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);/*  W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */

}

#menu ul li:first-child > a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec;
}

#menu ul ul li:first-child a:hover:after
{
    border-right-color: #04acec;
    border-bottom-color: transparent;
}


#menu ul li:last-child > a
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */
