
ul, li{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;

}
.tabdiv {
    font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
    color: #404040;
    margin: 0px auto 0px auto;    /*  width: 640px;*/

}
.tab {
    /*    position: relative;*/
    height: 31px;
    background: #426ebf;
    border-color: #78aad5;
    background-image: -webkit-linear-gradient(top, #5e9ace, #416cb8);
    background-image: -moz-linear-gradient(top, #5e9ace, #416cb8);
    background-image: -o-linear-gradient(top, #5e9ace, #416cb8);
    background-image: linear-gradient(to bottom, #5e9ace, #416cb8);
    border: 1px solid;
    border-color: #272c33 #242930 #22272d;
    border-radius: 3px;
    /*    display: inline-block;*/
    text-decoration: none;
     font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
}

.tab  a {

    font-size: 12px;
    text-decoration: none;
    text-shadow: 0 1px black;

}
.tab   a {
    float: left;
    /*    position: relative;*/
    height: 27px;
    line-height: 26px;
    padding: 0 12px;
    color: #ecf0f1;
    border-radius: 2px 0 0 2px;
    width: 150px;
     font: 11px "Lucida Grande", Tahoma, Verdana, sans-serif;
     font-weight: bolder;
     text-align:center;
     padding-top: 7px

}
/*.tab > a:before {
    content: '';
    display: inline-block;
    vertical-align: -2px;
    width: 10px;
    height: 11px;
    margin-right: 10px;
    background: url("../imageslayout/settings.png") 0 0 no-repeat;
}*/


.tab  {

    /*    margin: 0px;
        float: left;
        height: 28px;
        width: 26px;
        background: url("../imageslayout/down.png") 9px 9px no-repeat;
        border-left: 0.1px solid #b2b8c4;
        border-color: rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: inset 1px 0 rgba(255, 255, 255, 0.08);
        box-shadow: inset 1px 0 rgba(255, 255, 255, 0.08);    border: 1px solid red;*/
}

.tab:hover ul {
    visibility: visible;
    display: inline-block;


}
.tab ul {
    display: none;
    visibility: hidden;
    position: relative;
    font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    left:-1px;
    right: -1px;
    background: #272c33;
    border: 1px solid #20242a;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    width: 170px
}

.tab ul a {
    display: block;
    line-height: 28px;
    padding: 0 10px 1px;
    color: #b2b8c4;
    border-top: 1px solid transparent;
    border-bottom: 0.1px solid grey;
    font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: left
}

.tab ul a:hover {
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.7);
    background: #426ebf;
    border-color: #78aad5;
    background-image: -webkit-linear-gradient(top, #5e9ace, #416cb8);
    background-image: -moz-linear-gradient(top, #5e9ace, #416cb8);
    background-image: -o-linear-gradient(top, #5e9ace, #416cb8);
    background-image: linear-gradient(to bottom, #5e9ace, #416cb8);
}
