<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DeviceConfigStatusCont</servlet-name>
        <servlet-class>com.ble.device.controller.DeviceConfigStatusCont</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseByteDataController</servlet-name>
        <servlet-class>com.ble.response.controller.ResponseByteDataController</servlet-class>
    </servlet>
    
    
    <servlet>
        <servlet-name>ResponseCrcTypeMapping</servlet-name>
        <servlet-class>com.ble.response.controller.ResponseCrcTypeMapping</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrcTypeController</servlet-name>
        <url-pattern>/CrcTypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceConfigStatusCont</servlet-name>
        <url-pattern>/DeviceConfigStatusCont</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseByteDataController</servlet-name>
        <url-pattern>/ResponseByteDataController</url-pattern>
    </servlet-mapping>
    
   
    <servlet-mapping>
        <servlet-name>ResponseCrcTypeMapping</servlet-name>
        <url-pattern>/ResponseCrcTypeMapping</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>dash.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>driverClass</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>connectionString</param-name>
        <param-value>jdbc:mysql://localhost:3306/ble2</param-value>
    </context-param>
    <context-param>
        <param-name>db_username</param-name>
        <!--         <param-value>root</param-value>-->
        <param-value>root</param-value>
        <!--         <param-value>root</param-value>-->
        <!--        <param-value>jpss_2</param-value>-->
    </context-param>
    <context-param>
        <description>	</description>
        <param-name>db_password</param-name>
<!--        <param-value>CXKyE2ZpT%HjbP!4c$</param-value>-->
        <param-value>root</param-value>
        
    </context-param>
    <!--<ServletContainer mapping start>-->
    <servlet>
        <servlet-name>servlet Dispatcher</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
<!--            <param-name>jersey.config.server.provider.packages</param-name>-->
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.ble.webService.controller</param-value>
        </init-param>
        <init-param>
        <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
        <param-value>true</param-value>
    </init-param>
    </servlet>
    <servlet>
        <servlet-name>CrcTypeController</servlet-name>
        <servlet-class>com.ble.dataEntry.controller.CrcTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crcjsp</servlet-name>
        <jsp-file>/view/dataEntry/crc_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>crcjsp</servlet-name>
        <url-pattern>/crcjsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>commandcrcmapping</servlet-name>
        <jsp-file>/view/dataEntry/commandcrcmapping.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>commandcrcmapping</servlet-name>
        <url-pattern>/commandcrcmapping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet Dispatcher</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>webServiceCont</servlet-name>
        <servlet-class>com.ble.webService.controller.BLEWebServicesController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>webServiceCont</servlet-name>
        <url-pattern>/webServiceCont</url-pattern>
    </servlet-mapping>
    <!--<ServletContainer mapping end>-->
    <servlet>
        <servlet-name>DeviceOperationCommandCont</servlet-name>
        <servlet-class>com.ble.command.controller.DeviceOperationCommandController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeviceOperationCommandCont</servlet-name>
        <url-pattern>/DeviceOperationCommandCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>device_operation_commandView</servlet-name>
        <jsp-file>/view/device_operation_command.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>device_operation_commandView</servlet-name>
        <url-pattern>/device_operation_commandView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommandController</servlet-name>
        <servlet-class>com.ble.command.controller.CommandController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommandController</servlet-name>
        <url-pattern>/CommandCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommandView</servlet-name>
        <jsp-file>/view/command.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommandView</servlet-name>
        <url-pattern>/commandView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RuleController</servlet-name>
        <servlet-class>com.ble.command.controller.RuleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RuleController</servlet-name>
        <url-pattern>/ruleCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rule</servlet-name>
        <jsp-file>/view/rule.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>rule</servlet-name>
        <url-pattern>/rule</url-pattern>
    </servlet-mapping>
    <!--<DataEntry mapping start>-->
    <servlet>
        <servlet-name>ManufacturerController</servlet-name>
        <servlet-class>com.ble.dataEntry.controller.ManufacturerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManufacturerController</servlet-name>
        <url-pattern>/ManufacturerCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Manufacturer</servlet-name>
        <jsp-file>/view/dataEntry/manufacturer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Manufacturer</servlet-name>
        <url-pattern>/manufacturer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeviceTypeController</servlet-name>
        <servlet-class>com.ble.dataEntry.controller.DeviceTypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeviceTypeController</servlet-name>
        <url-pattern>/DeviceTypeCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeviceType</servlet-name>
        <jsp-file>/view/dataEntry/device_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeviceType</servlet-name>
        <url-pattern>/devicetype</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModelTypeController</servlet-name>
        <servlet-class>com.ble.dataEntry.controller.ModelTypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModelTypeController</servlet-name>
        <url-pattern>/ModelTypeCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModelType</servlet-name>
        <jsp-file>/view/dataEntry/model_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModelType</servlet-name>
        <url-pattern>/modeltype</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModelController</servlet-name>
        <servlet-class>com.ble.dataEntry.controller.ModelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModelController</servlet-name>
        <url-pattern>/ModelCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Model</servlet-name>
        <jsp-file>/view/dataEntry/model.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Model</servlet-name>
        <url-pattern>/model</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommandTypeController</servlet-name>
        <servlet-class>com.ble.dataEntry.controller.CommandTypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommandTypeController</servlet-name>
        <url-pattern>/CommandTypeCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommandType</servlet-name>
        <jsp-file>/view/dataEntry/command_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommandType</servlet-name>
        <url-pattern>/commandtype</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OperationNameController</servlet-name>
        <servlet-class>com.ble.dataEntry.controller.OperationNameController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OperationNameController</servlet-name>
        <url-pattern>/OperationNameCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OperationName</servlet-name>
        <jsp-file>/view/dataEntry/operation_name.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>OperationName</servlet-name>
        <url-pattern>/operationname</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeviceController</servlet-name>
        <servlet-class>com.ble.device.controller.DeviceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeviceController</servlet-name>
        <url-pattern>/DeviceCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Device</servlet-name>
        <jsp-file>/view/device/device.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Device</servlet-name>
        <url-pattern>/device</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeviceRegistrationController</servlet-name>
        <servlet-class>com.ble.device.controller.DeviceRegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeviceRegistrationController</servlet-name>
        <url-pattern>/DeviceRegistrationCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeviceRegistration</servlet-name>
        <jsp-file>/view/device/device_registration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeviceRegistration</servlet-name>
        <url-pattern>/deviceregistration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeviceOprtnChartstcMapController</servlet-name>
        <servlet-class>com.ble.dataEntry.controller.DeviceOprtnChartstcMapController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeviceOprtnChartstcMapController</servlet-name>
        <url-pattern>/DeviceOprtnChartstcMapCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>device_oprtn_chartstc_map</servlet-name>
        <jsp-file>/view/dataEntry/device_oprtn_chartstc_map.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>device_oprtn_chartstc_map</servlet-name>
        <url-pattern>/device_oprtn_chartstc_map</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BleOperationNameController</servlet-name>
        <servlet-class>com.ble.dataEntry.controller.BleOperationNameController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BleOperationNameController</servlet-name>
        <url-pattern>/BleOperationNameCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ble_operation_name</servlet-name>
        <jsp-file>/view/dataEntry/ble_operation_name.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ble_operation_name</servlet-name>
        <url-pattern>/ble_operation_name</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeviceMapController</servlet-name>
        <servlet-class>com.ble.device.controller.DeviceMapController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeviceMapController</servlet-name>
        <url-pattern>/DeviceMapCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeviceMap</servlet-name>
        <jsp-file>/view/dataEntry/device_map.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeviceMap</servlet-name>
        <url-pattern>/device_map</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServiceController</servlet-name>
        <servlet-class>com.ble.dataEntry.controller.ServiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceController</servlet-name>
        <url-pattern>/ServiceCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServiceView</servlet-name>
        <jsp-file>/view/dataEntry/serviceView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceView</servlet-name>
        <url-pattern>/serviceview</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WelcomeController</servlet-name>
        <servlet-class>com.ble.device.controller.WelcomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeController</servlet-name>
        <url-pattern>/WelcomeCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <jsp-file>/view/welcome.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CharachtristicsController</servlet-name>
        <servlet-class>com.ble.dataEntry.controller.CharachtristicsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CharachtristicsController</servlet-name>
        <url-pattern>/CharachtristicsCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>charachteristicView</servlet-name>
        <jsp-file>/view/dataEntry/charateristics.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>charachteristicView</servlet-name>
        <url-pattern>/charachteristic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SelectionController</servlet-name>
        <servlet-class>com.ble.command.controller.SelectionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectionController</servlet-name>
        <url-pattern>/SelectionCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Selection</servlet-name>
        <jsp-file>/view/dataEntry/selection.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Selection</servlet-name>
        <url-pattern>/selection</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SelectionCommand</servlet-name>
        <jsp-file>/view/dataEntry/selection_command.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectionCommand</servlet-name>
        <url-pattern>/selection_command</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InputController</servlet-name>
        <servlet-class>com.ble.command.controller.InputController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InputController</servlet-name>
        <url-pattern>/InputCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Input</servlet-name>
        <jsp-file>/view/dataEntry/input.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Input</servlet-name>
        <url-pattern>/input</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InputCommand</servlet-name>
        <jsp-file>/view/dataEntry/input_command.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InputCommand</servlet-name>
        <url-pattern>/input_command</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ParameterController</servlet-name>
        <servlet-class>com.ble.command.controller.ParameterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParameterController</servlet-name>
        <url-pattern>/ParameterCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Parameter</servlet-name>
        <jsp-file>/view/dataEntry/parameter.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Parameter</servlet-name>
        <url-pattern>/parameter</url-pattern>
    </servlet-mapping>
    <!--<DataEntry mapping end>-->
    <servlet>
        <servlet-name>ByteDataController</servlet-name>
        <servlet-class>com.ble.command.controller.ByteDataController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ByteDataController</servlet-name>
        <url-pattern>/ByteDataController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SelectionValueController</servlet-name>
        <servlet-class>com.ble.command.controller.SelectionValueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectionValueController</servlet-name>
        <url-pattern>/SelectionValueController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>selection_value</servlet-name>
        <jsp-file>/view/dataEntry/selection_value.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>selection_value</servlet-name>
        <url-pattern>/selection_value</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>byte_data</servlet-name>
        <jsp-file>/view/dataEntry/byte_data.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>byte_data</servlet-name>
        <url-pattern>/byte_data</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sub_byte_division</servlet-name>
        <jsp-file>/view/dataEntry/sub_byte_division.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sub_byte_division</servlet-name>
        <url-pattern>/sub_byte_division</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sub_division_selection</servlet-name>
        <jsp-file>/view/dataEntry/sub_division_selection.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sub_division_selection</servlet-name>
        <url-pattern>/sub_division_selection</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubDivisionSelectionController</servlet-name>
        <servlet-class>com.ble.command.controller.SubDivisionSelectionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubByteDivisionController</servlet-name>
        <servlet-class>com.ble.command.controller.SubByteDivisionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubByteDivisionController</servlet-name>
        <url-pattern>/SubByteDivisionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubDivisionSelectionController</servlet-name>
        <url-pattern>/SubDivisionSelectionController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Response</servlet-name>
        <servlet-class>com.ble.response.controller.ResponseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>command_description</servlet-name>
        <jsp-file>/view/dataEntry/command_description.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>command_description</servlet-name>
        <url-pattern>/command_description</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommandDescriptionController</servlet-name>
        <servlet-class>com.ble.command.controller.CommandDescriptionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommandDescriptionController</servlet-name>
        <url-pattern>/CommandDescriptionCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeviceRegConController</servlet-name>
        <servlet-class>com.ble.device.controller.DeviceRegConController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeviceRegConController</servlet-name>
        <url-pattern>/deviceRegistrationCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deviceRegConnPage</servlet-name>
        <jsp-file>/view/device/deviceRegConnPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>deviceRegConnPage</servlet-name>
        <url-pattern>/deviceRegConnPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Response</servlet-name>
        <url-pattern>/Response</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>response</servlet-name>
        <jsp-file>/view/response/response.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>response</servlet-name>
        <url-pattern>/response</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FixedResponseController</servlet-name>
        <servlet-class>com.ble.response.controller.FixedResponseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FixedResponseController</servlet-name>
        <url-pattern>/FixedResponseCont</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fixed_response</servlet-name>
        <jsp-file>/view/response/fixed_response.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>fixed_response</servlet-name>
        <url-pattern>/fixed_response</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fixed_response_value</servlet-name>
        <jsp-file>/view/response/fixed_response_value.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>fixed_response_value</servlet-name>
        <url-pattern>/fixed_response_value</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FixedResponseValueController</servlet-name>
        <servlet-class>com.ble.response.controller.FixedResponseValueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FixedResponseValueController</servlet-name>
        <url-pattern>/FixedResponseValueCont</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VariableResponseController</servlet-name>
        <servlet-class>com.ble.response.controller.VariableResponseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VariableResponseController</servlet-name>
        <url-pattern>/VariableResponseCont</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>variable_response_input</servlet-name>
        <jsp-file>/view/response/variable_response_input.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>variable_response_input</servlet-name>
        <url-pattern>/variable_response_input</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NtripBaseController</servlet-name>
        <servlet-class>com.ble.dataEntry.controller.NtripBaseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NtripBaseController</servlet-name>
        <url-pattern>/NtripBaseCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ntripbase</servlet-name>
        <jsp-file>/view/dataEntry/ntripbase.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ntripbase</servlet-name>
        <url-pattern>/ntripbase</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NtripRoverController</servlet-name>
        <servlet-class>com.ble.dataEntry.controller.NtripRoverController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NtripRoverController</servlet-name>
        <url-pattern>/NtripRoverCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ntriprover</servlet-name>
        <jsp-file>/view/dataEntry/ntriprover.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ntriprover</servlet-name>
        <url-pattern>/ntriprover</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BaseRoverConfController</servlet-name>
        <servlet-class>com.ble.device.controller.BaseRoverConfController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaseRoverConfController</servlet-name>
        <url-pattern>/BaseRoverConfCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BaseRoverConfgPage</servlet-name>
        <jsp-file>/view/device/BaseRoverConfgPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaseRoverConfgPage</servlet-name>
        <url-pattern>/BaseRoverConfgPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deviceConfiguration_status</servlet-name>
        <jsp-file>/view/dataEntry/deviceConfiguration_status.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>deviceConfiguration_status</servlet-name>
        <url-pattern>/deviceConfiguration_status</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>response_crc_mapping</servlet-name>
        <jsp-file>/view/response/response_crc_mapping.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>response_crc_mapping</servlet-name>
        <url-pattern>/response_crc_mapping</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>response_byte_data</servlet-name>
        <jsp-file>/view/response/response_byte_data.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>response_byte_data</servlet-name>
        <url-pattern>/response_byte_data</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>response_sub_byte_division</servlet-name>
        <jsp-file>/view/response/response_sub_byte_division.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>response_sub_byte_division</servlet-name>
        <url-pattern>/response_sub_byte_division</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>response_sub_division_selection</servlet-name>
        <jsp-file>/view/response/response_sub_division_selection.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>response_sub_division_selection</servlet-name>
        <url-pattern>/response_sub_division_selection</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>ResponseSubByteDivisionController</servlet-name>
        <servlet-class>com.ble.response.controller.ResponseSubByteDivisionController</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>ResponseSubByteDivisionController</servlet-name>
        <url-pattern>/ResponseSubByteDivisionController</url-pattern>
    </servlet-mapping>
    
       <servlet>
        <servlet-name>ResponseSubDivisionSelectionController</servlet-name>
        <servlet-class>com.ble.response.controller.ResponseSubDivisionSelectionController</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>ResponseSubDivisionSelectionController</servlet-name>
        <url-pattern>/ResponseSubDivisionSelectionController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>com.ble.dashboard.DashboardController</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/DashboardController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>dashboardBle</servlet-name>
        <jsp-file>/view/dashboard/dashboardBle.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboardBle</servlet-name>
        <url-pattern>/dashboardBle</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>subModules</servlet-name>
        <jsp-file>/view/dashboard/subModules.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>subModules</servlet-name>
        <url-pattern>/subModules</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddModules</servlet-name>
        <jsp-file>/view/dashboard/add_modules.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddModules</servlet-name>
        <url-pattern>/AddModules</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>AddDevices</servlet-name>
        <jsp-file>/view/dashboard/addDevices.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDevices</servlet-name>
        <url-pattern>/AddDevices</url-pattern>
    </servlet-mapping> 
    
    <servlet>
        <servlet-name>operationName</servlet-name>
        <jsp-file>/view/dashboard/operation_name.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>operationName</servlet-name>
        <url-pattern>/operationName</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>commandType</servlet-name>
        <jsp-file>/view/dashboard/command_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>commandType</servlet-name>
        <url-pattern>/commandType</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>commandDetail</servlet-name>
        <jsp-file>/view/dashboard/command_detail.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>commandDetail</servlet-name>
        <url-pattern>/commandDetail</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>AddDeviceController</servlet-name>
        <servlet-class>com.ble.dashboard.device.AddDeviceController</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>AddDeviceController</servlet-name>
        <url-pattern>/AddDeviceController</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>AddModulesController</servlet-name>
        <servlet-class>com.ble.dashboard.module.AddModulesController</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>AddModulesController</servlet-name>
        <url-pattern>/AddModulesController</url-pattern>
    </servlet-mapping>
    
    
    <!--    Work start as per suggested by Vinay Sir-->
    
    
    <servlet>
        <servlet-name>DeviceController</servlet-name>
        <servlet-class>com.ble.dashboard.device.DeviceController</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>DeviceController</servlet-name>
        <url-pattern>/DeviceController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>devicesAdd</servlet-name>
        <jsp-file>/view/dashboard/devices.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>devicesAdd</servlet-name>
        <url-pattern>/devicesAdd</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>ManufacturerController</servlet-name>
        <servlet-class>com.ble.dashboard.dataEntry.ManufacturerController</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>ManufacturerController</servlet-name>
        <url-pattern>/ManufacturerController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>manufacturer_detail</servlet-name>
        <jsp-file>/view/dashboard/manufacturer_detail.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>manufacturer_detail</servlet-name>
        <url-pattern>/manufacturer_detail</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>DeviceTypeController</servlet-name>
        <servlet-class>com.ble.dashboard.dataEntry.DeviceTypeController</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>DeviceTypeController</servlet-name>
        <url-pattern>/DeviceTypeController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>device_type</servlet-name>
        <jsp-file>/view/dashboard/device_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>device_type</servlet-name>
        <url-pattern>/device_type</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ModelController</servlet-name>
        <servlet-class>com.ble.dashboard.model.ModelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModelController</servlet-name>
        <url-pattern>/ModelController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>modelsAdd</servlet-name>
        <jsp-file>/view/dashboard/models.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>modelsAdd</servlet-name>
        <url-pattern>/modelsAdd</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ModelTypeController</servlet-name>
        <servlet-class>com.ble.dashboard.dataEntry.ModelTypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModelTypeController</servlet-name>
        <url-pattern>/ModelTypeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>modelType</servlet-name>
        <jsp-file>/view/dashboard/model_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>modelType</servlet-name>
        <url-pattern>/modelType</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeviceMapController</servlet-name>
        <servlet-class>com.ble.dashboard.dataEntry.DeviceMapController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeviceMapController</servlet-name>
        <url-pattern>/DeviceMapController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deviceMap</servlet-name>
        <jsp-file>/view/dashboard/device_map.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>deviceMap</servlet-name>
        <url-pattern>/deviceMap</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DevOpComMapController</servlet-name>
        <servlet-class>com.ble.dashboard.Map.DevOpComMapController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DevOpComMapController</servlet-name>
        <url-pattern>/DevOpComMapController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>devOpComMap</servlet-name>
        <jsp-file>/view/dashboard/dev_ope_com_map.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>devOpComMap</servlet-name>
        <url-pattern>/devOpComMap</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>OperationNameController</servlet-name>
        <servlet-class>com.ble.dashboard.dataEntry.OperationNameController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OperationNameController</servlet-name>
        <url-pattern>/OperationNameController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>operation_name</servlet-name>
        <jsp-file>/view/dashboard/operation_name.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>operation_name</servlet-name>
        <url-pattern>/operation_name</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CommandController</servlet-name>
        <servlet-class>com.ble.dashboard.dataEntry.CommandController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommandController</servlet-name>
        <url-pattern>/CommandController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>command_detail</servlet-name>
        <jsp-file>/view/dashboard/command_detail.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>command_detail</servlet-name>
        <url-pattern>/command_detail</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>ParameterNameController</servlet-name>
        <servlet-class>com.ble.dashboard.dataEntry.ParameterNameController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParameterNameController</servlet-name>
        <url-pattern>/ParameterNameController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>parameter_name</servlet-name>
        <jsp-file>/view/dashboard/parameter.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>parameter_name</servlet-name>
        <url-pattern>/parameter_name</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CommandTypeController</servlet-name>
        <servlet-class>com.ble.dashboard.dataEntry.CommandTypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommandTypeController</servlet-name>
        <url-pattern>/CommandTypeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>command_type</servlet-name>
        <jsp-file>/view/dashboard/command_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>command_type</servlet-name>
        <url-pattern>/command_type</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeviceConfigController</servlet-name>
        <servlet-class>com.ble.dashboard.regConfig.DeviceConfigController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeviceConfigController</servlet-name>
        <url-pattern>/DeviceConfigController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>device_configuration</servlet-name>
        <jsp-file>/view/dashboard/device_configuration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>device_configuration</servlet-name>
        <url-pattern>/device_configuration</url-pattern>
    </servlet-mapping>
    
    
     <servlet>
        <servlet-name>ResponseDetailController</servlet-name>
        <servlet-class>com.ble.dashboard.response.ResponseDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseDetailController</servlet-name>
        <url-pattern>/ResponseDetailController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>response_detail</servlet-name>
        <jsp-file>/view/dashboard/response_detail.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>response_detail</servlet-name>
        <url-pattern>/response_detail</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>ResponseParameterController</servlet-name>
        <servlet-class>com.ble.dashboard.response.ResponseParameterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseParameterController</servlet-name>
        <url-pattern>/ResponseParameterController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>response_parameter</servlet-name>
        <jsp-file>/view/dashboard/response_parameter.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>response_parameter</servlet-name>
        <url-pattern>/response_parameter</url-pattern>
    </servlet-mapping>
    
</web-app>
